@font-face {
  font-family: 'Alata';
  src: local('Alata Alata'), local('Alata-Alata'),
  url('../fonts/Alata/Alata-Regular.woff2') format('woff2'),
  url('../fonts/Alata/Alata-Regular.woff') format('woff'),
  url('../fonts/Alata/Alata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefine Sans';
  src: local('Josefine Sans'), local('Josefine Sans'),
  url('../fonts/JosefineSans/JosefinSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}